head{
    text-align: center;
    
}

body {
background-color: #D2B48C;
color: white;
text-align:center;
}


table,td{
    align-content: center;
    background-color: #F08080;
    border: 1px solid;
    padding: 5px;
    
}
th{
    height:20px;
    background-color: #FFFF99;
    color: #696969;
}

label{
    text-align: right;    
}
input[readonly] {background-color: grey;}

.wrap{text-align:center;width:90%; margin:0 auto; border:8px solid white;margin-top:25px;}

.header{background-color:coral;color:white;text-align:left; padding:25px;}

.main{background-color:pink; text-align:left; padding:25px;}

.footer{background-color:grey; text-align:left;padding:25px;}
